.sheet-container {
  width: 870px;
}
.sheet-container input {
  background: transparent;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.sheet-container select {
  background: transparent;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.sheet-container input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
.sheet-container input[type=checkbox] {
  width: auto;
}
.sheet-container textarea {
  margin: 0;
  width: 100%;
  height: 65px;
  resize: vertical;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.sheet-container select {
  margin: 0;
}
.sheet-container span {
  text-transform: uppercase;
}
.sheet-container label {
  width: auto;
  display: block;
  margin-top: -19px;
  margin-bottom: 0px;
  font-weight: normal;
  padding: 0px;
  font-size: 15px;
}
.sheet-display,
.sheet-edit,
.sheet-show,
.rep_noadd.repcontrol_add {
  display: none;
}
.sheet-editmode:not(:checked) ~ .sheet-showmode:not(:checked) ~ * .sheet-display,
.sheet-editmode:checked ~ .sheet-showmode:not(:checked) ~ * .sheet-edit,
.sheet-showmode:checked ~ * .sheet-show {
  display: inline;
}
.sheet-table {
  display: table;
}
.sheet-table-row {
  display: table-row;
}
.sheet-table-heading {
  display: table-header-group;
}
.sheet-table-item,
.sheet-table-head {
  display: table-cell;
}
.sheet-table-heading {
  display: table-header-group;
}
.sheet-table-body {
  display: table-row-group;
}
.sheet-flex {
  display: flex;
  justify-content: safe space-evenly;
  flex-wrap: wrap;
}
.sheet-line {
  white-space: nowrap;
}
.sheet-syncBottom {
  align-items: safe end;
}
.sheet-nowrap {
  flex-wrap: nowrap;
}
.sheet-flex > .sheet-item {
  padding: 5px;
  margin: 5px;
  flex-basis: auto;
  /* default auto */
}
input.sheet-toggle-show:not(:checked) + span + div.sheet-body {
  display: none;
}
