@import "src/less/abstracts/mixins.less";
@import "src/less/abstracts/rolltemplates";


.sheet-text-input {
    color: #666;
    padding-right: 5px;
    line-height: 1;
    .sheet-label {
        font-size: .9em;
        text-align: inherit;
        line-height: 14px;
        border-top: 1px solid #AAA;
    }
}
.sheet-container {
    width: 870px;

    input {
        background   : transparent;
        width        : 100%;
        border       : 1px solid #ddd;
        border-radius: 3px;
    }

    select {
        background   : transparent;
        width        : 100%;
        border       : 1px solid #ddd;
        border-radius: 3px;
    }

    input[type=number] {
        text-align        : center;
        -moz-appearance   : textfield;
        -webkit-appearance: textfield;
    }

    input[type=checkbox] {
        width: auto;
    }

    textarea {
        margin       : 0;
        width        : 100%;
        height       : 65px;
        resize       : vertical;
        box-sizing   : border-box;
        border       : 1px solid #ddd;
        border-radius: 3px;
    }

    select {
        margin: 0;
    }

    span {
        text-transform: uppercase;
    }

    label {
        width        : auto;
        display      : block;
        margin-top   : -19px;
        margin-bottom: 0px;
        font-weight  : normal;
        padding      : 0px;
        font-size    : 15px;
    }
}

/* show the selected tab */
.sheet-tabstoggle:not([value="character"]) ~ div.sheet-character,
.sheet-tabstoggle:not([value="talents"]) ~ div.sheet-talents,
.sheet-tabstoggle:not([value="equip"]) ~ div.sheet-equip,
.sheet-tabstoggle:not([value="exp"]) ~ div.sheet-exp,
.sheet-tabstoggle:not([value="spells"]) ~ div.sheet-spells,
.sheet-tabstoggle:not([value="kampf"]) ~ div.sheet-kampf,
.sheet-tabstoggle:not([value="zaubern"]) ~ div.sheet-zaubern,
.sheet-tabstoggle:not([value="addZauber"]) ~ div.sheet-addZauber,
.sheet-tabstoggle:not([value="addItemOrSpez"]) ~ div.sheet-addItemOrSpez,
.sheet-tabstoggle:not([value="bonus"]) ~ div.sheet-bonus{
    display: none;
}