-
    const talentOrigins = [["Laufbahn",1],
                           ["Beruf",2],
                           ["Bonustabelle",3],
                           ["Sonstiges",4],
                           ["Passiv",0]]
    const talentTypes = [["Alle Talente",0],
                         ["Nahkampftalent",1],
                         ["Fernkampftalent",2],
                         ["Spezielles Kampftalent",3],
                         ["Handwerkstalent",4],
                         ["Wissenstalent",5],
                         ["Soziales Talent",6],
                         ["Berufstalent",7],
                         ["Sprachtalent",8],
                         ["Anderes Talent",99]]
    const aufbewahrungsorte = ["Körper(aktiv)",
                               "Behälter(getragen)",
                               "Behälter(dabei)",
                               "Behälter(nicht zugreifbar)",
                               "Aktive Waffe/Rüstung"]
