-
    const talentOrigins = ["Laufbahn",
                           "Beruf",
                           "Bonustabelle",
                           "Sonstiges",
                           "Passiv"]
    const aufbewahrungsorte = ["Körper(aktiv)",
                               "Behälter(getragen)",
                               "Behälter(dabei)",
                               "Behälter(nicht zugreifbar)",
                               "Aktive Waffe/Rüstung"]
