-
    const talentOrigins = [["Laufbahn",1],
                           ["Beruf",2],
                           ["Bonustabelle",3],
                           ["Sonstiges",4],
                           ["Passiv",0]]
    const talentTypes = [["Nahkampftalent",1],
                         ["Fernkampftalent",2],
                         ["Spezielles Kampftalent",3],
                         ["Handwerkstalent",4],
                         ["Wissenstalent",5],
                         ["Berufstalent",6],
                         ["Sprachtalent",7],
                         ["Anderes Talent",8],
                         ["Alle Talente",0]]
    const aufbewahrungsorte = ["Körper(aktiv)",
                               "Behälter(getragen)",
                               "Behälter(dabei)",
                               "Behälter(nicht zugreifbar)",
                               "Aktive Waffe/Rüstung"]
