-
    const name = ["character_name","Name","name"];
    const Laufbahn = ["laufbahn","Laufbahn","Laufbahn"];
    const Volk = ["volk","Volk","Volk"];
    const Geschlecht = ["geschlecht","Geschlecht","Geschlecht"];
    const Alter = ["alter","Alter","Alter"];
    const Gesinung = ["gesinung","Gesinung","Gesinung"];
    const Augenfarbe = ["augenfarbe","Augenfarbe","Augenfarbe"];
    const Haarfarbe = ["haarfarbe","Haarfarbe","Haarfarbe"];
    const Geburtsrang = ["geburtsrang","Geburtsrang","Geburtsrang"];
    const StandderEltern = ["stand_der_eltern","Stand der Eltern","StandderEltern"];
    const eigeneSozialschicht = ["eigene_sozialschicht","eigene Sozialschicht","eigeneSozialschicht"];
    const Clan = ["clan","Clan","Clan"];
    const Geburtsort = ["geburtsort","Geburtsort","Geburtsort"];
    const Geburtstag = ["geburtstag","Geburtstag","Geburtstag"];
    const Sternzeichen = ["sternzeichen","Sternzeichen","Sternzeichen"];
    const EigeneTitel = ["eigene_titel","Eigene Titel","EigeneTitel"];
    const VollendeteLaufbahnen = ["vollendete_laufbahnen","Vollendete Laufbahnen","VollendeteLaufbahnen"];
    const Überblick = [name,
                       Laufbahn,
                       Volk,
                       Geschlecht,
                       Alter,
                       Gesinung,
                       Augenfarbe,
                       Haarfarbe,
                       Geburtsrang,
                       StandderEltern,
                       eigeneSozialschicht,
                       Clan,
                       Geburtsort,
                       Geburtstag,
                       Sternzeichen,
                       EigeneTitel,
                       VollendeteLaufbahnen]
    const ÜberblickFieldCode = ['arl'];
    const ÜberblickFieldName = [["","",""]];

    const Verhalten = ["verhalten","Verhalten","Verhalten"];
    const Hintergrund = ["hintergrund","Hintergrundgeschichte","Hintergrund"];
    const Notes = ["notes","Notizen","Notes"];
    const ÜberblickTextboxes = [Verhalten,
                                Hintergrund,
                                Notes]
    const ÜberblickTextboxesFieldCode = ['art'];

    const Paltin = ["_platin","Platin"];
    const Gold = ["_gold","Golg"];
    const Silver = ["silber","Silber"];
    const Cupper = ["_kupfer","Kupfer"];
    const GoldSummary = ["geld","Geld"];
    const GoldSummaryFields = [Paltin,Gold,Silver,Cupper]
    const GoldSummaryFieldCode = ['arn','arn','arn','arn'];

    const selectedField = ["steigerung_selected_field","ausgewählte Eigenschaft","selectedField"];
    const steigerungswert = ["steigerung_gewürfelt","Steigerungswert","steigerungswert"];
    const steigerungswurfRollWert = ["steigerung_rollen_makro","","steigerungswurfRollWert"];
    const steigerungswurf = ["steigerung_rollen","Roll","steigerungswurf"];
    const steigerunghinzufügen = ["steigerung_eintragen","Eintragen","steigerunghinzufügen"];
    const basisExpKosten = ["steigerung_exp_grundkosten","Grundkosten","basisExpKosten"];
    const reduzierteExpKosten = ["steigerung_echte_exp_kosten","Echte Ep-Kosten","reduzierteExpKosten"];
    const übrigeExp = ["steigerung_rest_exp_danach","danach noch übrige Exp","übrigeExp"];

    const filterTalentType = ["filter_talent_type","Talenttypfilter","filterTalentType"];
    const filterTalentName = ["filter_talent_name","Talentnamenfilter","filterTalentName"];

    relevantValues.concat([
        selectedField,
        steigerungswert,
        steigerungswurfRollWert,
        steigerungswurf,
        steigerunghinzufügen,
        steigerunghinzufügen,
        basisExpKosten,
        reduzierteExpKosten,
        übrigeExp,
        filterTalentType,
        filterTalentName
    ]);
