-
    //value definition 2.0(only values not arrays): each is a tripple[value,default translation,valuename for js,type of rowbutton see type below]
    const baseValue=["_base","Grundwert","baseValue"];
    const levelUp=["_levelup","Steigerungen","levelUp"];
    const modManuel=["_manuel_bonus","manueller Bonus","modManuel"];
    const modAuto=["_automatic_bonus","automatischer Bonus","modAuto"];
    const mod=["_overall_bonus","Gesamtbonus","mod"];
    const multi=["_multiplier","Multiplikator","multi"];
    const current=["","aktueller Wert","current"];
    const max=["_max","maximaler Wert","max"];
    const spez=["_spez","Spezialisiert?","spez"];
    const origin=["_origin","Aktiviert?","origin"];
    const fieldCodeAdditions = [baseValue,levelUp,modManuel,modAuto,multi,current,max  ,mod  ,spez ,origin];
    const fieldCodeDefaults  = ['een'    ,'enn'  ,'arn'    ,'enm'  ,'een','ar/'  ,'ann','enm','rrc','rrT' ];

    //Datei aufbau:
    //  1. Definiere Werte A="A"
    //  2. Definiere ein Array gleichartiger Werte As=[A]
    //  3. setze den fieldCode AsFieldCode=[0,0,0,0,0,0,0,...]
    //  Werte des FieldCode: 
    //          0           -> deaktiviert
    //          !=0         -> aktiviert(standard)
    //          'vet'       -> set visibility to 'v' and editiblity to 'e' and type to t
    //              type:
    //                  'n' -> number
    //                  'm' -> multiline (bonus)
    //                  'l' -> lineedit(text)
    //                  't' -> textbox
    //                  'c' -> checkbox
    //                  'o' -> aufbewahrungsort
    //                  'T' -> talentursprung combobox
    //                  '/' -> number with trailing '/'
    //                  'P' -> Probenwurf(Roll)
    //                  'R' -> Resistenz/Probenwurf(Roll)
    //                  'S' -> Steigerbar
    //                  'U' -> Steigerbar+Nutzbar
    //                  'F' -> Steigerbar+Nutzbar+EPgenerator
    //                  'E' -> EPgenerator
    //                  'A' -> Ausführen(Roll)
    //                  'N' -> Wiederherstellen/Regenerieren(Roll) Nacht
    //                  'M' -> Wiederherstellen/Regenerieren(Roll) 1h
    //                  'I' -> Initiative
    //FieldCode:1   2   3   4   5   6   7   8   9   10   11                     Ending
    //          |   |   |   |   |   |   |   |   |   talentCombobox              origin
    //          |   |   |   |   |   |   |   |   Spezialisiert(checkbox)         spez
    //          |   |   |   |   |   |   |   Voller Bonus(3+4)   (readonly)      mod
    //          |   |   |   |   |   |   Voller Wert((1+2+3+4)*multi)(readonly)  max
    //          |   |   |   |   |   Aktueller Wert(immer edit)                  current
    //          |   |   |   |   Multiplier(default 1, manuell)                  multi
    //          |   |   |   Auto Bonus   (readonly,edit mode only?)             modAuto
    //          |   |   Manueller Bonus   (immer edit)                          modManuel
    //          |   Steigerung   (edit mode only)                               levelUp
    //          Basiswert   (edit mode only) (e.v. auch readonly)               baseValue

    const Aussehen = ["attr-au","Aussehen","Aussehen","U"];
    const Geschicklichkeit = ["attr-ge","Geschicklichkeit","Geschicklichkeit","U"];
    const Intuition = ["attr-in","Intuition","Intuition","U"];
    const Klugheit = ["attr-kl","Klugheit","Klugheit","U"];
    const Konstitution = ["attr-kon","Konstitution","Konstitution","U"];
    const Körperkraft = ["attr-kraft","Körperkraft","Körperkraft","U"];
    const Magiebegabung = ["attr-mag","Magiebegabung","Magiebegabung","U"];
    const Mut = ["attr-mut","Mut","Mut","U"];
    const Reaktionswert = ["attr-rw","Reaktionswert","Reaktionswert","U"];
    const attributes = [Aussehen,
                        Geschicklichkeit,
                        Intuition,
                        Klugheit,
                        Konstitution,
                        Körperkraft,
                        Magiebegabung,
                        Mut,
                        Reaktionswert];
    const attributesFieldCode = [1,2,3,4,0,0,7,0,9];
            
    const BasisKampfwert = ["baka-nah","Basis Kampfwert","BasisKampfwert"];
    const Schusswaffenbasis = ["baka-fern","Schuß-/Wurfwaffenwaffenbasis","Schusswaffenbasis"];
    const Rückzug = ["rückzug","Rückzug","Rückzug","P"];
    const Rennen = ["rennen","Rennen","Rennen"];
    const Fliegen = ["fliegen","Fliegen","Fliegen"];
    const GeistigeStabilität = ["gs","Geistige Stabilität","GeistigeStabilität","P"];
    const Magieresistenz = ["res-mag","Magieresistenz","Magieresistenz","R"];
    const Psiresistenz = ["res-psi","Psiresistenz","Psiresistenz","R"];
    const Initiative = ["initiative","Initiative","Initiative","I"];
    const calculatedValues = [BasisKampfwert,
                              Schusswaffenbasis,
                              Rückzug,
                              Rennen,
                              Fliegen,
                              GeistigeStabilität,
                              Magieresistenz,
                              Psiresistenz,
                              Initiative];
    const calculatedValuesFieldCode = [0,0,3,4,5,0,7];

    const GEBonus = ["ge-bonus","GE Bonus","GEBonus"];
    const LernbonusAllgemein = ["lernbonusallg","Lernbonus(Allgemein)","LernbonusAllgemein"];
    const LernbonusTalente = ["lernbonustalent","Lernbonus(Talente)","LernbonusTalente"];
    const LernbonusMagie = ["lernbonusmagie","Lernbonus(Magie)","LernbonusMagie"];
    const KOBonus = ["ko-bonus","KO Bonus","KOBonus"];
    const Rüstungsgewöhnung = ["rüstungsgewöhnung","Rüstungsgewöhnung","Rüstungsgewöhnung"];
    const TragkraftStufe = ["tragkraftstufe","Tragkraftstufe","TragkraftStufe"];
    const bonusValues = [GEBonus,
                         LernbonusAllgemein,
                         LernbonusTalente,
                         LernbonusMagie,
                         KOBonus,
                         Rüstungsgewöhnung,
                         TragkraftStufe];
    const bonusValuesFieldCode = [0,0,0,4,0,0,7];

    const Lebenspunkte = ["hp","Lebenspunkte","Lebenspunkte","S"];
    const Ausdauer = ["ausdauer","Ausdauer","Ausdauer","S"];
    const Essenz = ["essenz","Magische Essenz","Essenz","S"];
    const PsiPunkte = ["psipunkte","Psi Punkte","PsiPunkte","S"];
    const dynamicValues = [Lebenspunkte,
                           Ausdauer,
                           Essenz,
                           PsiPunkte];
    const dynamicValuesFieldCode = [1,2,3,4,0,6,7];

    const RegenerationNachtLebenspunkte = ["reg-nacht-hp","Lebenspunkteregeneration über Nacht","RegenerationNachtLebenspunkte","N"];
    const RegenerationNachtAusdauer = ["reg-nacht-ausdauer","Ausdauerregeneration über Nacht","RegenerationNachtAusdauer","N"];
    const RegenerationNachtEssenz = ["reg-nacht-essenz","Essenzregeneration über Nacht","RegenerationNachtEssenz","N"];
    const regNachtValues = [RegenerationNachtLebenspunkte,
                            RegenerationNachtAusdauer,
                            RegenerationNachtEssenz];
    const regNachtValuesFieldCode = [0,0,3,4,5,0,7];

    const Regeneration1hAusdauer = ["reg-1h-ausdauer","Ausdauerregeneration pro Stunde","Regeneration1hAusdauer","M"];
    const Regeneration1hEssenz = ["reg-1h-essenz","Essenzregeneration pro Meditationsstunde","Regeneration1hEssenz","M"];
    const Regeneration1hPsiPunkte = ["reg-1h-psipunkte","Psiregeneration pro Meditationsstunde","Regeneration1hPsiPunkte","M"];
    const reg1hValues = [Regeneration1hAusdauer,
                         Regeneration1hEssenz,
                         Regeneration1hPsiPunkte];
    const reg1hValuesFieldCode = [0,0,3,4,5,0,7];

    const Größe = ["größe","Größe","Größe"];
    const Gewicht = ["gewicht","Gewicht","Gewicht"];
    const Karma = ["karma","Karma","Karma"];
    const Ruf = ["ruf","Ruf","Ruf","P"];
    const Infravision = ["infravision","Infravision","Infravision"];
    const ManuellValues = [Größe,
                           Gewicht,
                           Karma,
                           Ruf,
                           Infravision];
    const ManuellValuesFieldCode = [1,0,3,4,5,0,7];

    const AtBonus = ["atbonus","AT-bonus","AtBonus"];
    const PaBonus = ["pabonus","PA-bonus","PaBonus"];
    const MAtBonus = ["mat","Meisterattacke","MAtBonus"];
    const MPaBonus = ["mpa","Meisterparade","MPaBonus"];
    const AUKosten = ["aukosten","Ausdauerkosten","AUKosten"];
    const Attacken = ["attacken","Attacken","Attacken"];
    const AttackenGezielt = ["attackengezielt","AttackenGezielt","AttackenGezielt"];
    const Reichweite = ["reichweite","Waffenreichweite","Reichweite"];
    const KampfValues = [AtBonus,
                         PaBonus,
                         MAtBonus,
                         MPaBonus,
                         AUKosten,
                         Attacken,
                         AttackenGezielt,
                         Reichweite];
    const KampfValuesFieldCode = ['rnn',0,3,4,0,0,7];

    const TP = ["tp","Angriffsschaden","TP"];
    const KampfTPValues = [TP];
    const KampfTPValuesFieldCode = ['rnm',0,0,4,0,0,'anm'];

    const Waffentalent = ["waffentalent","Waffentalent","Waffentalent"];
    const WaffentalentValues = [Waffentalent];
    const WaffentalentFields = [Waffentalent];
    const WaffentalentValuesFieldCode = ['rnl'];

    const NahKampfTalente = ["nahkampftalente","Nahkampftalente","NahKampfTalente","F"];
    const FernKampfTalente = ["fernkampftalente","Fernkampftalente","FernKampfTalente","F"];
    const KampfTalente = ["kampftalente","Spezielle Kampftalente","KampfTalente","F"];
    const SozialeTalente = ["sozialetalente","Sozialtalente","SozialeTalente","F"];
    const HandwerksTalente = ["handwerkstalente","Handwerkstalente","HandwerksTalente","F"];
    const BerufeTalente = ["berufetalente","Berufstalente","BerufeTalente","F"];
    const SprachenTalente = ["sprachentalente","Sprachtalente","SprachenTalente","F"];
    const AndereTalente = ["anderetalente","Andere Talente","AndereTalente","F"];
    const Talente = [NahKampfTalente,
                     FernKampfTalente,
                     KampfTalente,
                     SozialeTalente,
                     HandwerksTalente,
                     BerufeTalente,
                     SprachenTalente,
                     AndereTalente];
    const TalenteFieldCode = [1,2,3,4,0,0,7,8,9,10];

    const ExpSummary = ["exp","Erfahrungspunkte","ExpSummary"];
    const ExpSummarySum = ["_max","Insgesamt","ExpSummarySum"];
    const ExpSummaryInvested = ["","Ausgegeben","ExpSummaryInvested"];
    const ExpSummaryOpen = ["_rest","Noch verteilbar","ExpSummaryOpen"];
    const ExpSummaryField = [ExpSummarySum,ExpSummaryInvested,ExpSummaryOpen]
    const ExpSummaryFieldCode = ['ann','ann','ann'];

    const EquipSummary = ["traglast","Traglast","EquipSummary"];
    const EquipSummarySum = ["belastung","Belastung in Kg","EquipSummarySum"];
    const EquipSummaryLevel = ["belastungsstufe","Belastungsstufe","EquipSummaryLevel"];
    const EquipSummaryMalus = ["belastungsmalus","Belastungsmalus","EquipSummaryMalus"];
    const EquipSummaryField = [EquipSummarySum,EquipSummaryLevel,EquipSummaryMalus]
    const EquipSummaryFieldCode = ['ann','enn','ann'];

    const allRegularListsButTalents = attributes.concat(calculatedValues,
                                                 bonusValues,
                                                 dynamicValues,
                                                 regNachtValues,
                                                 reg1hValues,
                                                 ManuellValues,
                                                 KampfValues,
                                                 KampfTPValues);

    var add1234To7=[]
    var add134Times5To7=[]
    var add134To7=[]
    var add14To7=[]
    var add14To7m=[]
    var add34Times5To7=[]
    var add34To7=[]
