.sheet-pc.sheet-character
  +sectionheader("Überblick")
    .sheet-flex.sheet-syncBottom
      +generateAttributeArray(ÜberblickFieldCode, Überblick, "Flexitems", ÜberblickFieldName)
      +generateAttributeArray(ÜberblickTextboxesFieldCode, ÜberblickTextboxes, "Flexitems", ÜberblickFieldName)
  .sheet-flex
    .sheet-item
      +sectionheader("Attribute")
        +generateAttributeArray(attributesFieldCode, attributes)
    .sheet-item
      +sectionheader("Berechnete Werte")
        +generateAttributeArray(calculatedValuesFieldCode, calculatedValues)
        +generateAttributeArray(bonusValuesFieldCode, bonusValues)
    .sheet-item
      +sectionheader("LP&Co")
        +generateAttributeArray(dynamicValuesFieldCode, dynamicValues)
        +sectionheader("Regeneration über Nacht",false)
          +generateAttributeArray(regNachtValuesFieldCode, regNachtValues)
        +sectionheader("Regeneration durch Meditation(1h)",false)
          +generateAttributeArray(reg1hValuesFieldCode, reg1hValues)
      +sectionheader("Andere Werte")
        +generateAttributeArray(ManuellValuesFieldCode, ManuellValues, "Flexbox")
.sheet-pc.sheet-talents
  .sheet-flex
    +sectionheader("Talente").sheet-item
      .sheet-flex
        each talent in Talente
          +sectionheader(talent).sheet-item
            +generateAttributeArray(TalenteFieldCode, [talent], "repeating")
    +sectionheader("Spezialfähigkeiten").sheet-item
      +generateAttributeArray(SpezFieldCode, [SpezSection], "repeating", SpezFields, SpezFieldCode)
.sheet-pc.sheet-equip
  +generateAttributeArray(EquipSummaryFieldCode, [EquipSummary], "Flexbox", EquipSummaryField, EquipSummaryFieldCode)
  +generateAttributeArray(GoldSummaryFieldCode, [GoldSummary], "Flexbox", GoldSummaryFields, GoldSummaryFieldCode)
  .sheet-flex
    +sectionheader("Waffen").sheet-item
      .sheet-flex.sheet-syncBottom
        +generateAttributeArray(KampfValuesFieldCode, KampfValues, "Flexitems")
        +generateAttributeArray(KampfTPValuesFieldCode, KampfTPValues, "Flexitems")
        +generateAttributeArray(WaffentalentValuesFieldCode, WaffentalentValues, "Flexitems", WaffentalentFields, WaffentalentValuesFieldCode)
      +generateAttributeArray(weaponFieldCode, [weaponSection], "repeating", weaponFields, weaponFieldCode)
    +sectionheader("Rüstung/Kleidung").sheet-item
      +generateAttributeArray(armorFieldCode, [armorSection], "repeating", armorFields, armorFieldCode)
    +sectionheader("Anderes").sheet-item
      +generateAttributeArray(equipFieldCode, [equipSection], "repeating", equipFields, equipFieldCode)
.sheet-pc.sheet-exp
  +generateAttributeArray(ExpSummaryFieldCode, [ExpSummary], "Flexbox", ExpSummaryField, ExpSummaryFieldCode)
  .sheet-flex
    +sectionheader("Anwenden").sheet-item.sheet-anwendbar
      TODO
    +sectionheader("Eigene Exp(aus Abenteuern)").sheet-item
      +generateAttributeArray(expFieldCode, [expSection], "repeating", expFields, expFieldCode)
    +sectionheader("Automatische Exp").sheet-item
      +generateAttributeArray(userExpFieldCode, [userExpSection], "repeating", userExpFields, userExpFieldCode)
    +sectionheader("Steigern").sheet-item.sheet-steigerbar
      TODO
    +sectionheader("Ausgegebene Exp").sheet-item
      +generateAttributeArray(levelUpFieldCode, [levelUpSection], "repeating", levelUpFields, levelUpFieldCode)
.sheet-pc.sheet-spells
  .sheet-flex
    +sectionheader("Zauberliste").sheet-item
      +generateAttributeArray(magicFieldCode, [magicSection], "repeating", magicFields, magicFieldCode) 
    +sectionheader("Psiliste").sheet-item
      +generateAttributeArray(psiFieldCode, [psiSection], "repeating", psiFields, psiFieldCode)
.sheet-pc.sheet-bonus
  .sheet-flex
    +sectionheader("Bonusliste").sheet-item
      +generateAttributeArray(boniFieldCode, [boniSection], "repeating", boniFields, boniFieldCode)
.sheet-pc.sheet-kampf
  TODO
.sheet-pc.sheet-zaubern
  TODO
.sheet-pc.sheet-addZauber
  TODO
.sheet-pc.sheet-addItemOrSpez
  TODO
